@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    font-family: "Ubuntu";
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
}

.lato {
    font-family: Lato, roboto;
}

.container {
    width: 100%;
    max-width: 1120px;
}

.landing-section {
    height: 100vh;
}

